{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<hr>

<div class="row">
    <div class="col-md-2">
        <div class="btn-group-vertical" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">會員中心</button>
            <button type="button" class="btn btn-secondary">海外倉庫地址</button>
            <button type="button" class="btn btn-secondary">貨件申報管理</button>
            <button type="button" class="btn btn-secondary">轉運單</button>
        </div>
    </div>
    <div class="col-md-10">
        <h2>歡迎再次登入《中山國際轉運》</h2>
    </div>   
</div>
    {% endblock %}
