{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<hr>
<h3>{{ message }}</h3>

<ul class="nav nav-tabs" role=tablist>
    <li role=presentation class=active>
        <a href=#basic-login aria-controls=home role=tab data-toggle=tab>登入</a>
    </li>
    <li role=presentation>
        <a id=signup-tab-button href=#basic-signup aria-controls=profile role=tab data-toggle=tab>註冊</a>
    </li>
</ul>
<div class=tab-content>
    <div role=tabpanel class="tab-pane active" id=basic-login>
        <div class=storetype-member-basic-login-panel>
            <form class=form-horizontal id=buyandship-basic-login-form role= form method=post action=/login>
                <div class=row>
                    <div class=col-sm-4>
                        <div class=form-group>
                            <label class="col-sm-5 control-label required" for=email>電郵地址</label>
                            <div class=col-sm-7>
                                <input type=email class=form-control name=email id=email placeholder=sys@example.com value>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=row>
                    <div class=col-sm-4>
                        <div class=form-group>
                            <label class="col-sm-5 control-label required" for=password>密碼</label>
                            <div class=col-sm-7>
                                <input type=password class=form-control name=password id=password placeholder=****** value>
                            </div>
                        </div>
                    </div>
                </div>
                <button type=submit class="btn btn-default">登入</button>
                <a href=https://www.buyandship.com.tw/reset-password>忘記密碼？</a>
            </form>
        </div>
    </div>
    <div role=tabpanel class="tab-pane sf-hidden" id=basic-signup>
        <div class=storetype-member-basic-login-panel>
            <form class=form-horizontal id=buyandship-basic-signup-form role= form method=post action="/login?action=signup">
                    <div class=row>
                        <div class=col-sm-4>
                            <div class=form-group>
                                <label class="col-sm-5 control-label required" for=lastName>英文姓名</label>
                                <div class=col-sm-7>
                                    <input type=text class=form-control id=Name name=Name placeholder=SysNational value>
                                </div>
                            </div>
                        </div>
                        <div class=col-sm-4>
                            <div class=form-group>
                                <label class="col-sm-5 control-label required" for=lastName>收貨人姓名</label>
                                <div class=col-sm-7>
                                    <input type=text class=form-control id=lastName name=lastName placeholder=SysNational value>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=row>
                        <div class=col-sm-4>
                            <div class=form-group>
                                <label class="col-sm-5 control-label required" for=email>電郵地址</label>
                                <div class=col-sm-7>
                                    <input type=email class=form-control id=email name=email placeholder=sys@example.com value>
                                </div>
                            </div>
                        </div>
                        <div class=col-sm-4>
                            <div class=form-group>
                                <label class="col-sm-5 control-label required" for=lastName>收貨人地址</label>
                                <div class=col-sm-7>
                                    <input type=text class=form-control id=address name=address placeholder=高雄市鼓山區蓮海路70號 value>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=row>
                        <div class=col-sm-4>
                            <div class=form-group>
                                <label class="col-sm-5 control-label required" for=password>密碼</label>
                                <div class=col-sm-7>
                                    <input type=password class=form-control id=password name=password placeholder=****** value>
                                    <small class=text-danger>＃ 密碼至少要有6位字元長度</small>
                                </div>
                            </div>
                        </div>
                        <div class=col-sm-4>
                            <div class=form-group>
                                <label class="col-sm-5 control-label required" for=lastName>收貨人手機</label>
                                <div class=col-sm-7>
                                    <input type=number class=form-control id=phone name=phone placeholder=0912345678 value>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type=submit class="btn btn-default">註冊</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}